<div class="actionMenu">
	<input type="hidden" name="projectId" id="projectIdHolder"
		value="{{id}}" />
</div>
<div id="projectTabs">
	<ul>
		<li><a href="#infoTab"><span>Info</span></a></li>
		<li><a href="#bugTab"><span>Issues</span></a></li>
		<li><a href="#metricTab"><span>Metrics</span></a></li>
		<li><a href="#reliabilityTab"><span>Reliability</span></a></li>
		<li><a href="#settingsTab"><span>Settings</span></a></li>
	</ul>
	<div id="infoTab">
		<p>
			<b>Project UID:</b> {{id}}
		</p>
		<p>
			<b>Name:</b> {{name}}
		</p>
		<p>
			<b>Description:</b> {{description}}
		</p>
	</div>
	<div id="bugTab" class="ui-helper-clearfix"></div>
	<div id="metricTab" class="ui-helper-clearfix"></div>
	<div id="reliabilityTab" class="ui-helper-clearfix">
	<div>
		<span style="font-weight: bold;">Reliability functions</span>
		<hr />
			<form>
				<label for="reliabilityInterval" style="font-weight: bold; margin-top: 10px;">Number of intervals:</label>
				<input type="text" name="reliabilityInterval" id="reliabilityInterval" style="width: 100px; margin-top: 10px;" />

				<label for="reliabilityL" style="font-weight: bold; margin-top: 10px;">L:</label>
				<input type="text" name="reliabilityL" id="reliabilityL" style="width: 100px; margin-top: 10px;" />

				<label for="reliabilityB" style="font-weight: bold; margin-top: 10px;">B:</label>
				<input type="text" name="reliabilityB" id="reliabilityB" style="width: 100px; margin-top: 10px;" />
				<br />
				<br />
				<a href="#showLambdaGraph" class="showMyuGraph" onclick="getContext().getGraphController().createMyuChart()">Show Myu Graph</a>
				<a href="#showMyuGraph" class="showLambdaGraph" onclick="getContext().getGraphController().createLambdaChart()">Show Lambda Graph</a>
			</form>
	</div>
	
	
	</div>
	<div id="settingsTab" class="ui-helper-clearfix">
	<div>
		<span style="font-weight: bold;">Jira connection settings</span>
		<hr />
			<form>
				<input type="hidden" name="jiraSettingsId" id="jiraSettingsId" value="{{jiraSettings.id}}"/>
				<label for="jiraUserName" style="font-weight: bold; margin-top: 10px;">Username:</label>
				<input type="text" name="jiraUserName" id="jiraUserName" value="{{jiraSettings.userName}}" style="width: 500px; margin-top: 10px;" />
				<br />
				<label for="jiraUserPassword" style="font-weight: bold; margin-top: 10px;">Password:</label>
				<input type="password" name="jiraUserPassword" id="jiraUserPassword" value="{{jiraSettings.password}}" style="width: 500px; margin-top: 10px;" />
				<br />
				<label for="jiraProjectUid" style="font-weight: bold; margin-top: 10px;">Project UID:</label>
				<input type="text" name="jiraProjectUid" id="jiraProjectUid" value="{{jiraSettings.projectUid}}" style="width: 500px; margin-top: 10px;" />
				<br />
				<label for="jiraUrl" style="font-weight: bold; margin-top: 10px;">Jira location URL:</label>
				<input type="text" name="jiraUrl" id="jiraUrl" value="{{jiraSettings.url}}" style="width: 500px; margin-top: 10px;" />
				<br />
				<div style="margin-top: 10px; margin-bottom: 10px">
				<a href="#clearJiraSettings" class="clearJiraSettings" >Clear</a>
				<a href="#saveJiraSettings" class="saveJiraSettings" onclick="getContext().getProjectController().saveJiraSettings()">Save</a>
				</div>
			</form>
		<hr />
		<br />
		
		<span style="font-weight: bold;">Sonar connection settings</span>
		<hr />
			<form>
				<input type="hidden" name="sonarSettingsId" id="sonarSettingsId" value="{{sonarSettings.id}}"/>
				<label for="sonarUserName" style="font-weight: bold; margin-top: 10px;">Username:</label>
				<input type="text" name="sonarUserName" id="sonarUserName" value="{{sonarSettings.userName}}" style="width: 500px; margin-top: 10px;" />
				<br />
				<label for="sonarUserPassword" style="font-weight: bold; margin-top: 10px;">Password:</label>
				<input type="password" name="sonarUserPassword" id="sonarUserPassword" value="{{sonarSettings.password}}" style="width: 500px; margin-top: 10px;" />
				<br />
				<label for="sonarProjectUid" style="font-weight: bold; margin-top: 10px;">Project UID:</label>
				<input type="text" name="sonarProjectUid" id="sonarProjectUid" value="{{sonarSettings.projectUid}}" style="width: 500px; margin-top: 10px;" />
				<br />
				<label for="sonarUrl" style="font-weight: bold; margin-top: 10px;">Sonar location URL:</label>
				<input type="text" name="sonarUrl" id="jsonarUrl" value="{{sonarSettings.url}}" style="width: 500px; margin-top: 10px;" />
				<br />
				<div style="margin-top: 10px; margin-bottom: 10px">
				<a href="#clearSonarSettings" class="clearSonarSettings">Clear</a>
				<a href="#saveSonarSettings" class="saveSonarSettings">Save</a>
				</div>
			</form>
		<hr />
		<br />
		
	</div>
	
	</div>
</div>